@import url("reset.css");

body { overflow : hidden; }

header { position : absolute; bottom : 30px; background : white; padding : 8px 20px; 
	-moz-box-shadow:0px 0px 8px #000000;
	-webkit-box-shadow:0px 0px 8px #000000;
	box-shadow:0px 0px 8px #000000;
}

header { display : none; }

h1 { font : bold 30px/36px "Varela", sans-serif;  }

canvas { margin : 0; }

.container { height : 100%;  overflow-x : hidden; overflow-y : scroll; background : white; }
.container .item:hover { background-color : #EAFFFF; }
.container .item.selected { background-color : #E4F8FF; }

#big_viz { position: absolute; top : 0px; left : 0px; height : 100%; z-index : -1; overflow : hidden;}
#big_viz canvas { position : relative; }

.viz .ui { position : absolute; bottom : 22px; left : 22px; display : block; height : 32px; background : #333; z-index : 0; border-radius : 3px; border: 1px solid #7F7F85;}
.viz .ui div { display: block; width : 32px; height : 32px; background-image : url('/static/images/sprites.png'); float : left; background-size: 160px; border-right : 1px solid #7F7F85; }
.viz .ui div:last-child { border-right : 0px; }
.viz .ui div:hover { background-color : #7F7F85; }
.viz .ui div.zoom { background-position : 0 0; }
.viz .ui div.dezoom { background-position : -32px 0; }

#tubes {  }

#main { border-left : 6px solid #333; background : #333; position: absolute; top : 0px; right : -702px; z-index : 2; height : 100%; width : 938px;}

#main .ui { position: absolute; top : 1px; left : 204px; }
#main .ui div { display: block; width : 16px; height : 16px; background-image : url('/static/images/sprites.png'); float : left; background-size: 80px; }
#main .ui div:hover { background-color : #ddd; }
#main .ui div.less { background-position : -48px 0; }
#main .ui div.more { background-position : -32px 0; }

nav { position: absolute; top : 18px; left : 0px; width : 236px; height : 100%; z-index : 3; }

nav div div { padding : 6px; border-bottom : 1px solid #dddddd; }

nav div div h3 { font : normal 10px arial; color : #3A3A3A; }
nav div div canvas { margin: 10px 0 0 0; }

#explorer { position : absolute; top : 18px; left : 236px; background : #333; z-index : 3; height : 100%; }

#explorer ul { float : left; }
#explorer .container { width : 236px; }
#explorer #current_articles { width : 466px; }

#explorer .container li { font : normal 12px/12px arial; color : #3A3A3A; padding : 6px 9px; border-bottom :  1px solid #dddddd;}
#explorer .container li .count { color : #777; float : right;}

#explorer #current_articles h4 { font: bold 16px/16px arial; color : #3A3A3A; }
#explorer #current_articles .info_publication { font: normal 12px/12px arial; color : #777; margin-top: 4px; margin-bottom: 6px; }
#explorer #current_articles .body { font: normal 12px/20px arial; color : #3A3A3A; }

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 0px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
background-color: #333;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #7F7F85;
border: 3px solid #333;
-webkit-border-radius: 6px;
}