@import url("reset.css");

body { overflow : hidden; }

header { position : absolute; top : 0; left: 0;}

h1 { font : normal 12px/16px "Varela", sans-serif; color : #7F7F85; }

canvas { margin : 0; }

.container { height : 100%;  overflow-x : hidden; overflow-y : scroll; background : white; }
.container .item:hover { background-color : #EAFFFF; }
.container .item.selected { background-color : #E4F8FF; }

#viz { position : absolute; top : 0; width : 0; height : 100%; width : 100%; }

#big_viz { position: relative; top : 0px; left : 0px; height : 100%; overflow : hidden;}
#big_viz canvas { position : relative; }

#viz .ui { position : absolute; bottom : 22px; left : 22px; display : block; height : 32px; background : #333; z-index : 0; border-radius : 3px; border: 1px solid #7F7F85;}

#viz .ui>div { float : left; border-right : 1px solid #7F7F85; width : 32px; height : 32px; }

#viz .ui>div:last-child { border-right : 0px; }

#viz .ui .button { display: block; width : 32px; height : 32px; background-image : url('/static/images/sprites.png'); background-size: 160px; }
#viz .ui>div:hover { background-color : #626262; }

#viz .ui .switch { display: block; width : 128px; height : 32px; position : relative; }
#viz .ui .loading { display: none; width : 192px; height : 32px; }

#viz .ui div.zoom { background-position : 0 0; }
#viz .ui div.dezoom { background-position : -32px 0; }
#viz .ui div.tubes { background-position : -128px 0; position : absolute; left : 0;}
#viz .ui div.map { background-position : 0 -32px; position : absolute; right : 0;}

#viz .ui .switch .slider { display: block; width : 64px; height : 32px; position : absolute; left : 32px; background-position : -32px -32px; background-image : url('/static/images/sprites.png'); background-size: 160px;  }
#viz .ui .switch .slider div { display: block; width : 32px; height : 32px; position : relative; left : 0px; background-position : -96px -32px; background-image : url('/static/images/sprites.png'); background-size: 160px; }


#viz .ui .loading img { display: block; position : relative; top : 7px; left : 17px; }

#map { position: relative; top : 0px; left : 0px; height : 100%; }
#map { font-family : verdana; text-anchor : middle; font-size : 14px; }
#map .w { font-size : 12px; }
/*
#map .marker_border { display:block; width : 35px; height : 35px; }
#map .marker { display:block; width : 25px; height : 25px; }
*/

#tubes {  }

#main { border-left : 6px solid #333; background : #333; position: absolute; top : 0px; right : -702px; z-index : 2; height : 100%; width : 938px;}

#main .ui { position: absolute; top : 1px; left : 204px; }
#main .ui div { display: block; width : 16px; height : 16px; background-image : url('/static/images/sprites.png'); float : left; background-size: 80px; }
#main .ui div:hover { background-color : #ddd; }
#main .ui div.less { background-position : -48px 0; }
#main .ui div.more { background-position : -32px 0; }

nav { position: absolute; top : 18px; left : 0px; width : 236px; height : 100%; z-index : 3; }

nav div div { padding : 6px; border-bottom : 1px solid #dddddd; }

nav div div h3 { font : normal 10px arial; color : #3A3A3A; }
nav div div canvas { margin: 10px 0 0 0; }

#explorer { position : absolute; top : 18px; left : 236px; background : #333; z-index : 3; height : 100%; }

#explorer .container { width : 236px; position: relative; float : left; }

#explorer .container > ul { width : 236px; position: relative; }
#explorer .container > ul > ul { width : 236px; position: relative; overflow-y : scroll; }

#explorer #current_filter { overflow-y : hidden; }

#explorer #current_articles { width : 466px; }

#explorer .container .loader { width : 100%; height : 100%; background : #333; position : relative; }
#explorer .container .loader img { display : block; margin-top : -9px; position : absolute; top : 50%; left : 154px; }

#explorer .container li { font : normal 12px/12px arial; color : #3A3A3A; padding : 6px 9px; border-bottom :  1px solid #dddddd;}
#explorer .container li .label { }
#explorer .container li .count { color : #777; float : right;}

#explorer #current_articles h4 { font: bold 16px/16px arial; color : #3A3A3A; }
#explorer #current_articles .info_publication { font: normal 12px/12px arial; color : #777; margin-top: 4px; margin-bottom: 6px; }
#explorer #current_articles .body { font: normal 12px/20px arial; color : #3A3A3A; }

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 0px;
display: block;
background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
background-color: #333;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #7F7F85;
border: 3px solid #333;
-webkit-border-radius: 6px;
}