<!doctype html>
<html>
<head>
	<title>Media coverage of Food security in Africa</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='food.css') }}"/>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/paper.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/food.js') }}"></script>
</head>
<body>
	<h1>Media coverage of Food security in Africa</h1>
	
	<canvas id="tubes" width="1500" height="1500"></canvas>
	
</body>
</html>