<!doctype html>
<html>
<head>
	<title>media + food security + africa</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='food.css') }}"/>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/paper.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/food.js') }}"></script>
</head>
<body>
	<div class="container">
	<div class="content">
	<h1>media + food security + africa</h1>
	</div>
	</div>

	<div class="container">
		<canvas id="tubes" width="5000" height="4000"></canvas>
	</div>
</body>
</html>