<!doctype html>
<html>
<head>
	<title>media(food security)/africa</title>

	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/food.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/paper.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/underscore-min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/backbone-min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/tubes.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/metroline-single.js') }}"></script>
</head>
<body>
	<header>
	<h1>media(food security)/africa</h1>	
	</header>

	<div id="big_viz" class="container">
		<canvas id="tubes" width="1000" height="1000" resize="resize"></canvas>
	</div>
	
	<nav>
		<div id="selected"></div>
		<div id="available"></div>
	</nav>
	
<!-- JS templates -->
<script type="text/template" id="metroline-item">
<h3></h3>
<canvas class="local_view" width="1" height="1"></canvas>
</script>

</body>
</html>