<!doctype html>
<html>
<head>
	<title>media(food security)/africa</title>

	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/food.css') }}"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/paper.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/underscore-min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/backbone-min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/tubes.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/metroline-single.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/explorer.js') }}"></script>

</head>
<body>
	<div id="big_viz" class="viz">
		<canvas id="tubes" width="1" height="1"></canvas>
		
		<div class="ui">
			<div class="zoom"></div>
			<div class="dezoom"></div>
		</div>
	</div>
	
	<div id="main">

	<header>
	<h1>pulseweb</h1>	
	</header>
	
	<div class="ui">
		<div class="less"></div>
		<div class="more"></div>
	</div>
	
	<nav class="container">
		<div id="selected"></div>
		<div id="available"></div>
	</nav>
	
	<div id="explorer">
		<ul id="current_terms" class="container"></ul>
		<ul id="current_articles" class="container"></ul>
	</div>
	
	</div>

<!-- JS templates -->
<script type="text/template" id="metroline-item">
<h3></h3>
<canvas class="local_view" width="1" height="1"></canvas>
</script>

<script type="text/template" id="term-item">
<span class="label"></span>
<span class="count"></span>
</script>

<script type="text/template" id="article-item">
<h4></h4>
<div class="info_publication">
	<span class="date"></span> – <span class="author"></span> (<span class="source"></span>)
</div>
<div class="body"></div>
</script>

</body>
</html>